h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
}

body{
    margin : auto;
    background-color: #C7C8CC ;
}

.pokemon {
    display: inline-block;
    text-align: center;
}
.pokemon img {
    display: block;
}
